.idea
*.iml

# Python
__pycache__
*.egg-info
*.pyc
build/
dist/
venv/

# Dependencies
cortex/ext/vcftools*
cortex/ext/stampy*
cortex/ext/cortex*

# Vim
*~
*.swp

# Book-keeping
TODOs.rst
cur_commit.rst
